/*.btn
{
    border-radius: 25px;
    background: radial-gradient(#6495ED 25%, #00BFFF);
    -webkit-user-select: none;
}*/

.btn:active
{
  border-radius: 50px;
  background: radial-gradient(#00BFFF 25%, #6495ED);
  -webkit-user-select: none;
}



#txt
{
    width: 400px;
    height: 400px;
}

/* The switch - the box around the slider */
.switch {
  margin-top: 4px;
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}


#iframe {
  border: 1px solid WhiteSmoke;
  padding: 10px;
  width: 1880px;
  overflow: hidden;
}

#iframe_loss {
  border: 1px solid WhiteSmoke;
  padding: 10px;
  width: 1880px;
  overflow: hidden;
}

#message{
position:absolute;

}

#loading{
display:none;

font-size:25px;
}

